[submodule "HW1"]
	path = HW1
	url = git@github.com:mohammadsaadati80/IL-HW1.git
[submodule "HW2"]
	path = HW2
	url = git@github.com:mohammadsaadati80/Multi-Armed-Bandit.git
[submodule "HW3"]
	path = HW3
	url = git@github.com:mohammadsaadati80/Frozen-Lake-PI-VI.git
[submodule "HW4"]
	path = HW4
	url = git@github.com:mohammadsaadati80/Taxi-v3.git
